extends extends/base

block header
  include includes/header

block content
  include includes/banner
  include includes/schedule
  include includes/speakers
  include includes/enroll
  include includes/form
  include includes/logo
    
block bottom
  include includes/footer
