@import "../globals/variables";

/* https://css-tricks.com/custom-scrollbars-in-webkit/ */
html,
body,
#challenge {

  &::-webkit-scrollbar {

    background-color: $color-bg-scroll;
    border-left: 1px solid $color-bg-scroll;
    width: 12.5px;

    @media only screen and (max-width: 1024px) {

      background-color: transparent;
      border: 0;
      width: 0;
    }
  }
}


::-webkit-scrollbar-thumb {

  background-color: $color-footer;
  /* border-radius: 16px; */
  outline: 10px solid transparent;

  @media only screen and (max-width: 1024px) {

    background-color: transparent;
    outline: 0;
  }
}

@mixin scrollbar($scrollColor, $backgroundColor) {
  /* https://css-tricks.com/custom-scrollbars-in-webkit/ */
  &::-webkit-scrollbar {

    background-color: $backgroundColor;
    border: 1px solid $backgroundColor;
    width: 10px;

    @media only screen and (max-width: 1024px) {

      background-color: transparent;
      border: 0;
      width: 0;
    }
  }

  &::-webkit-scrollbar-thumb {

    background-color: $scrollColor;
    /* border-radius: 16px; */
    outline: 10px solid transparent;

    @media only screen and (max-width: 1024px) {

      background-color: transparent;
      outline: 0;
    }
  }
}
