.container
  #container_register  
    h3 Inscríbete
    .content_register
      .step(style="border-right: 1px solid #D7D7D7;") 
        img(src="images/iconopaso1.png")
        h2 PASO 1
        p #[b Hacer efectivo el pago]  de inscripción vía depósito al siguiente número de cuenta:
      .step(style="border-right: 1px solid #D7D7D7;")    
        img(src="images/iconopaso2.png")
        h2 PASO 2
        p #[b Rellenar]  el formulario que se consigna en la parte inferior y #[b adjuntar] una imagen del depósito realizado.
      .step    
        img(src="images/iconopaso3.png")
        h2 PASO 3
        p #[b Recibirás] una confirmación en tu correo electrónico.
    p.account #[b N.º cuenta BCP : 193 - 2346807019] (Consultora Educativa Transforma)
    p.price Costo de participación: S/ 120.00 (por persona)