footer#miradas__footer
  .container
    .footer__container
      .footer__container__option
        a(href="#miradas_home") Inicio
        a(href="#container_schedule") Programa
        a(href="#container_speakers") Ponentes
        a(href="#container_form") Inscripción
      .footer__container__logo
        img(src="images/logotipo_footer.png")
      .footer__container__contact
        h5(style="margin-bottom: 2px;") Contacto: 
        h5 Correo: 
          span informes@miradas.com.pe
        h5 Teléfono: 
          span (01) 626 5690
        h5(style="margin: 9px 0 5px;") Síguenos en:
        .redes
          img(src="images/fb_footer.png", alt="")
          img(src="images/linkedin_footer.png", alt="")
          img(src="images/instagram_footer.png", alt="")


 
 


