#miradas__header
  .header__redes
    .content_redes
      h5 Síguenos en:
      .content_images
        img(src="images/facebook_icon_menu.png")
        img(src="images/linkedin_icon_menu.png")
        img(src="images/instagram_icon_menu.png") 

main
  .content_logo
    img(src="images/logotipo_Miradas_menu.png" class="img-profile")

header#header-menu
  nav
    a(href='#miradas_home')#inicio Inicio
    a(href='#container_schedule')#programa Programa
    a(href='#container_speakers')#ponentes Ponentes
    a(href='#container_form')#inscripcion Inscripción

			

                    