.container
  #container_logo
    .content_logo
      h3 Inscríbete
      .organizes
        img(src="images/Trasnforma_logo.png")
        img(src="images/Embajada_Finlandia_logo.png")
      h3 Con el apoyo de:
      .support 
        img(src="images/Dialogo_Interameicano_logo.png")
        img(src="images/Unicef_logo.png")
      h3 Auspiciado por:
      .auspice
        img(src="images/Telefonica_Fundacion.png")
        img(src="images/Embajada_Italia_logo.png")
        img(src="images/IIC_logo.png")
        img(src="images/Dinamica_logo.png")
        img(src="images/RedSolare_logo.png")
        img(src="images/Minsur_logo.png")
