.container
  #container_schedule
    h3 Programa
    .content_schedule 
      p.title DÍA 1 - Conferencias/ 22 de mayo, Auditorio Fundación Telefónica
      .content_info
        .description
          .hour1.column
            h5 Registro de participantes
          .hour2.column
            h5 Bienvenida de parte de los organizadores
            .content_description
              .title Video
              .title Palabras de bienvenida:
              .text 
                p - Mika Koskinen, embajador de Finlandia.
                p - Fiorella de Ferrari, cofundadora de la ONG TRANSFORMA. 
                p - Ariel Fiszbein, director del Programa de Educación, Diálogo Interamericano.
                p - Niños.
              .title Palabras de bienvenida de la Primera Dama.
          .hour3.column
            h5 PARTE 1: ¿POR QUÉ INVERTIR EN LA EDUCACIÓN DE LA PRIMERA INFANCIA?
            .content_description
              .title Keynote Speaker:
              .text
                p - Norbert Schady, asesor económico Principal del Sector Social, Banco Interamericano de Desarrollo (BID).
              .title Panel
              .text 
                p - Mauricio Cárdenas, exministro de Hacienda de Colombia.
                p - Adriana Delpiano, exministra de Educación Chile.
                p - *Flor Pablo, ministro de Educación del Perú.
                p - *Paola Bustamante, ministra de Desarrollo e Inclusión Social del Perú.
                p - *Ricardo Bucio, secretario ejecutivo del Sistema Integral de Protección de Niñas, Niños y Adolescentes (SIPINNA), México.
          .hour4.column
            h5 Coffee Break  
          .hour5.column
            h5 PARTE 2: ¿CÓMO PROMOVEMOS APRENDIZAJES DE CALIDAD EN LA PRIMERA INFANCIA?
            .content_description
              .title Keynote Speakers:
              .text
                p - Claudia Giudici, Presidente de Reggio Children.
                p - Kirsti Lonka, Profesor de Psicología evolutiva y de la educación, Universidad de Helsinki.
          .hour6.column
            h5 Almuerzo Libre
          .hour7.column
            h5 PARTE 2: ¿CÓMO PROMOVEMOS APRENDIZAJES DE CALIDAD EN LA PRIMERA INFANCIA?
            .content_description
              .title Keynote Speakers:
              .text
                p - Sarah Bouchie, Vicepresidente - Aprendizaje a Través del Juego en la Primera Infancia, Fundación LEGO.
              .title Conversación con público
              .text
                p - Moderador: Fiorella de Ferrari, cofundadora de la ONG TRANSFORMA.
                p - Preguntas y respuestas. Claudia Giudici, Kirsti Lonka y Sarah Bouchie.
          .hour8.column
            h5 PARTE 3: EXPERIENCIAS Y PERSPECTIVAS DESDE LA REGIÓN
            .content_description
              .title Moderador
              .text
                p - Ariel Fiszbein, director del Programa de Educación, Diálogo Interamericano.
              .title Panelistas
              .text
                p - Antonio Rizzoli, jefe de la Unidad de Investigación en Neurodesarrollo en el Hospital Infantil de México Federico Gómez.
                p - Fiorella de Ferrari, cofundadora de la ONG TRANSFORMA.
                p - Cesar Guadalupe, presidente del Consejo Nacional de Educación del Perú.              
                p - Leonardo Yanez, oficial de programas para América Latina de la Fundación Bernard van Leer (Holanda).
                p - *Santiago Cueto, investigador principal GRADE.        
                p - Fernando Bolaños, UNICEF.
          .hour9.column
            h5 CIERRE DEL EVENTO 
            .content_description
              .title Moderador
              .text
                p - Mika Koskinen, embajador de Finlandia.
                p - Fiorella de Ferrari, cofundadora de la ONG TRANSFORMA.
    .content_schedule 
      p.title DÍA 2 / 23 de mayo, BTH Hotel
      .content_info
        .description
          .hour2.column
            h5 Registro de participantes
          .hour3.column
            h5 TALLERES      
            .content_description
              .title(style="padding-bottom: 0;") • Generando interacciones de calidad en el aula. *Palabras de bienvenida:
              p.subtitle - Mika Koskinen, embajador de Finlandia.
              .title(style="padding-bottom: 0;") •	Generando interacciones de calidad en el aula.*
              p.subtitle - ONG Transforma. 
              .title(style="padding-bottom: 0;") • El ambiente como un tercer maestro. *
              p.subtitle - Barbara Quinti, Reggio Children.
              .title(style="padding-bottom: 0;") • MELQO: medición de la calidad y los resultados de aprendizaje en la educación inicial. 
              p.subtitle - Magdalena Bendini, Banco Mundial.
              p.subtitle • De la medición a la práctica: experiencia de Colombia.
              p.subtitle - Carolina Maldonado y Eduardo Escallón, Universidad de Los Andes.
              .title(style="padding-bottom: 0;") • El aprendizaje basado en el juego y el rol de los padres.
              p.subtitle - The Sesame Workshop.
              .title(style="padding-bottom: 0;") • Implementando aulas con bajos recursos a través del reciclaje.
              p.subtitle - AEIOTU.
              .title(style="padding-bottom: 0;") • La importancia del juego en el aula.
              p.subtitle - Ragnar Behncke, Social Map Chile.
              h6 *sesiones se extenderán hasta las 12:00
          .hour10.column
            h5 Almuerzo Libre 
          .hour11.column
            h5 TALLERES
            .content_description
              .title(style="padding-top: 0;padding-bottom: 0;") •	El apego y el desarrollo de habilidades sociales y emocionales en la primera infancia.
              p.subtitle - Kirsti Lonka, Profesor de Psicología evolutiva y de la educación, Universidad de Helsinki.
              .title(style="padding-top: 15px; padding-bottom: 0;") •	El rol del arte en la educación inicial y en la salud emocional.
              p.subtitle - Georgina Santisteban, Asociación Civil Imagiluna. 
              .title(style="padding-top: 15px; padding-bottom: 0;") • *Cómo diseñar y gestionar espacios urbanos amigables para la primera infancia.
              p.subtitle - Fundación van Leer.
              .title(style="padding-top: 15px; padding-bottom: 0;") •	El ambiente como un tercer maestro. 
              p.subtitle - Barbara Quinti, Reggio Children.
          .hour12.column
            h5 CIERRE DEL EVENTO 
            .content_description
              .text
                p -	 Mika Koskinen, embajador de Finlandia.
                p - Fiorella de Ferrari, cofundadora de la ONG TRANSFORMA.
      
      