#container_speakers
  h3 Ponentes
  .content_speakers    
    .slick-carousel
      .slide-content 
        .speakers
          img(src="images/ponente.png")
          article
            h3 Nombre y apellido
            p Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusan
      .slide-content 
        .speakers
          img(src="images/ponente.png")
          article
            h3 Nombre y apellido
            p Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusan
      .slide-content 
        .speakers
          img(src="images/ponente.png")
          article
            h3 Nombre y apellido
            p Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusan
      .slide-content 
        .speakers
          img(src="images/ponente.png")
          article
            h3 Nombre y apellido
            p Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusan
      .slide-content 
        .speakers
          img(src="images/ponente.png")
          article
            h3 Nombre y apellido
            p Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusan
  .content_download
    .download
      img(src="images/download.png")
      a(href="#") DESCARGAR
        p INFORMACIÓN DE PONENTES 