/*section#limavisual__home {
  .home__container {
    background-color: #000;
    height: 300px;
    color: #FFf;
  }
  .wrap{
    width: 470px;
    margin: 0px;
    display: flex;
    flex-direction: column;
    h2{
      color: #43a2d8;
      font: 22px "futuramediumbt";
      margin-top: 45px;
      font-weight: bold;
      letter-spacing: 2px;
      display: block;
      width: 100%;
      text-align: left;
      margin-bottom: 25px;
    }
    p.text{
      color: #365c87;
      font: 13px "futuramediumbt";
      line-height: 16px;
      width: 350px;
      margin-bottom: 20px;
    }
    ul.workshops{
      width: 330px;
      list-style: none;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      margin: 0;
    }
    ul.workshops li{
      align-items: self-end;
    }
    ul.workshops li a{
      color: #101010;
      text-decoration: none;
      font-size: 14px;
      text-align: center;
      display: block;
      padding: 10px 0px;
    }
    .active{
      border-bottom: 1.5px solid #101010;
    }
    ul.workshops li a .tab-text{
      margin-left: 8px;
    }
  }
  
}

*/